#contenedor {
    border: 2px solid black;
    width: 1200px;
    height: 1020px;
    background-color: #6e7b92;
    margin: 0 auto;
    border-radius: 10px;
}

#cabecera {
    background-color: #8BBCCC;
    width: 1195px;
    height: 150px;
    border: 2px solid black;
    margin: 0 auto;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;

}

#menu {
    width: 99%;
    height: 100px;
    background-color: #795e8b;
    font-size: 30px;
    padding: 5px;


}
#seccion{
    width: 69%;
    height: auto;
    background-color: aliceblue;
    padding: 2px;
    font-size: 25px;
    float: left;
    text-align: center;
}
#fueraseccion{
    background-color: aquamarine;
    width: 30%;
    height: auto;
    float:right;
    padding: 4px;

    
}

nav a {
    color: white;
    text-decoration: none;

}

ul {
    text-align: center;

}

li {
    padding-left: 65px;
    padding-right: 65px;
    display: inline-block;
}
p{
    font-size: 20px;

}
img{
    width: 150px;
}
body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfPxnTdCafFiQQUlb87W-vVJsXzMM60dhh8w&usqp=CAU");
}